/* General Layout */
.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    font-family: 'Arial', sans-serif;
}

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #45a049;
}

.error {
    color: rgb(31, 14, 14);
    font-size: 14px;
    margin-top: 10px;
}

.panel {
    text-align: center;
}

.panel button {
    background-color: #3639f4;
    width: 100%;
    margin-top: 20px;
}

.panel button:hover {
    background-color: #3547e5;
}

/* Responsive Design */
@media screen and (max-width: 600px) {
    .login-container {
        padding: 15px;
    }

    h1 {
        font-size: 20px;
    }

    .login-form input {
        padding: 8px;
        font-size: 12px;
    }

    button {
        padding: 8px 15px;
        font-size: 14px;
    }
}
